<div class="flex p-4 mb-4 justify-center">
    {% set method = method ?? 'quote' %}
    <form action="/quote" method="post" class="flex items-baseline rounded overflow-hidden">
        <select name="method" class="flex p-2 pr-7 border-0 border-r bg-gray-300 hover:bg-gray-400">
            <option value="quote"{% if method == 'quote' %} selected{% endif %}>Quote</option>
        </select>
        <input type="search" name="symbol" placeholder="Symbol" class="flex w-32 md:w-64 p-2 bg-gray-200 border-0"
               {% if symbol %}value="{{ symbol }}"{% endif %}>
        <input type="submit" name="quote" value="Get" class="flex p-2 bg-gray-700 text-gray-300">
    </form>
</div>
<div class="flex mb-4 justify-center">
    <form action="/buy" method="post" class="flex items-baseline justify-center">
        <div class="flex mr-4">
            <span class="mr-2 font-bold text-lg">Price:</span>
            <span class="text-lg">{{ quote.C | format_currency('USD', locale='en') }}</span>
        </div>
        <div class="flex">
            <input type="hidden" name="symbol" value="{{ symbol }}">
            <input type="text" name="amount" id="amount" placeholder="Amount"
                   class="w-20 pl-4 py-0 px-0 border-0 rounded-l-full bg-gray-200">
            <input type="submit" value="Buy" class="w-16 btn-gray font-bold rounded-r-full bg-gray-700 text-gray-300">
        </div>
    </form>
</div>
